<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns:td="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">

</head>
<body>

<div class="container">
    <h3>Hello World</h3>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>地名代码</th>
                <th>标准名称</th>
                <th>罗马字母拼写</th>
                <th>地名类别</th>
                <th>地名的来历</th>
                <th>地名的含义</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${pageInfo.list}">
            <td>
                <a th:href="@{/{id}(id=${item.id})}" th:text="${item.getId()}"></a>
            </td>
            <td th:text="${item.getPlaceCode()}"></td>
            <td th:text="${item.getStandardName()}"></td>
            <td th:text="${item.getRomanAlphabetSpelling()}"></td>
            <td th:text="${item.getPlaceType()}"></td>
            <td th:text="${item.getPlaceOrigin()}"></td>
            <td th:text="${item.getPlaceMeaning()}"></td>
            <td id="standardName" th:text="${item.getStandardName()}" hidden>
        </tr>
        <td id="lastNum" th:text="${pag}" hidden>
        </tbody>
    </table>
    <!--<ul id="pagination-demo" class="pagination pull-right"></ul>-->
    <div id="pager" class="pager clearfix">
    </div>
</div>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/plugins/jQuery/jquery.twbsPagination.min.js"></script>
<script src="/plugins/layer/layer.js"></script>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        var pag = $("#lastNum").text();
        var standardName = $("#standardName").text();.console.log(pag);//page为当前页码
        // $('#pagination-demo').twbsPagination({
        //     totalPages:pag/3+1,
        //     visiblePages: 3,
        //     startPage: 1,
        //     first:'首页',
        //     last:'末页',
        //     prev:'上一页',
        //     next:'下一页',
        //     href:"?p={{number}}" + "&standardName=" + standardName
        // });
    })
</script>

</body>
</html>