<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns:td="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/paging.css">
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }
        li{
            height : 20px;
            line-height : 20px;
            align : center;
        }
    </style>

</head>
<body>

<div class="container">
    <br>
    <br>
    <h3><a href="http://localhost:8081/pro">Hello World</a> </h3>
    <br>
    <br>
    <br>

    <div class="box-body">
        <form class="form-inline" th:action="@{/pro/search}">
            <input type="text" class="form-control" name="standardName" placeholder="请输入标准名称">
            <button class="btn btn-default">搜索</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
                                                         <li>注意:该功能修改数据的同时不会将数据备份，修改时请确保数据的的正确性！！！</li>
    </div>

</div>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/plugins/jQuery/jquery.twbsPagination.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script>
    // $(function () {
    //     var pag = $("#lastNum").text();
    //     $('#pagination-demo').twbsPagination({
    //         totalPages:pag/10+1,
    //         visiblePages: 10,
    //         first:'首页',
    //         last:'末页',
    //         prev:'上一页',
    //         next:'下一页',
    //         href:"?p={{number}}"
    //     });
    //     $("#director").click(function () {
    //     })
    //     $(".del").click(function (){
    //         var id = $(this).attr("rel");
    //         layer.confirm("确定要删除么？",function (index) {
    //             layer.close(index);
    //             $.get("/movie/"+id+"/del").done(function (result) {
    //                 if(result.status == 'success') {
    //                     history.go(0);
    //                 } else {
    //                     layer.msg(result.message);
    //                 }
    //             }).error(function () {
    //                 layer.msg("服务器忙");
    //             });
    //         })
    //     })
    // })
</script>

</body>
</html>