<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns:td="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/paging.css">
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }
        li{
            height : 20px;
            line-height : 20px;
            align : center;
        }
    </style>

</head>
<body>

<div class="container">
    <br>
    <br>
    <h3><a href="http://localhost:8081/pro">Hello World</a> </h3>
    <br>
    <br>
    <br>

    <div class="box-body">
        <form class="form-inline" th:action="@{/capy/capyfile}">
            <input type="text" class="form-control" name="sourcePath" placeholder="请输入源端文件路径">
            <input type="text" class="form-control" name="tarPath" placeholder="请输入目的端路径">
            <button class="btn btn-default">commit</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <li>注意:该功能修改数据的同时不会将数据备份，修改时请确保数据的的正确性！！！</li>
    </div>

</div>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/plugins/jQuery/jquery.twbsPagination.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script>
</script>

</body>
</html>